content {
    text-align: left;
}

h1 {
    text-align: left;
}

p {
    font-size: 1.4em;
    text-align: left;
}

.badge-link {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}