
body {
    margin: 0px;
}

/* Nav styles */
nav {
    margin-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  border-left:1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: darkgreen;
}

.content {
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
}

/* signin dropdown menu */

.dropdown {
  float: right;
}

.dropdown-button {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border: none;
  border-left:1px solid #bbb;
}

.dropdown-content {
  width: 100%;
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1;
}

a {
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.dropdown-content a {
  border-top: 1px solid #bbb;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-left:1px solid #bbb;
}

.dropdown:hover .dropdown-content {
  display: block;
}