.badge-rank-img {
    width: 426.66px;
    height: 213.33px;
}

.rank-image-wrapper {
    display: block;
    margin-top: 40px;
}

.badge-item {
    display: inline-block;
    margin-right: 2%;
    width: 300px;
    vertical-align: text-top;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: 5px solid grey;
}

.badge-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.required {
    border: 5px solid red;
}

.badge-item:hover {
    border: 5px solid green;
    opacity: 1;
}

.earned {
    opacity: 0.2;
}

p {
    font-size: 1.4em;
}

.badge-a {
    color: black;
}