.badge-rank-img {
    width: 426.66px;
    height: 213.33px;
}

.rank-image-wrapper {
    display: block;
    margin-top: 40px;
}

.badge-item {
    display: inline-block;
    margin-right: 2%;
    width: 300px;
    vertical-align: text-top;
}

.badge-image {
    margin-top: 50px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 5px solid grey;
}

.required {
    border: 5px solid red;
}

.badge-image:hover {
    border: 5px solid green;
}

p {
    font-size: 1.4em;
}