.content {
    margin: 0px;
    background: linear-gradient(rgb(255,255,255), rgb(150,150,150));
}

.rank-item {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 50px;
    width: 100%;
}

.rank-img {
    width: 426.66px;
    height: 213.33px;  
}

p {
    margin-top: 40px;
    line-height: 1.3em;
    font-size: 1.4em;
    margin-left: 20%;
    margin-right: 20%;
}