.content {
    margin-left: 30%;
    width: 40%;
    margin-right: 30%;
}

.session-wrapper {
    border: 1px solid black;
    margin-bottom: 20px;
}

.selected {
    background-color: lightgreen;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.session-wrapper p {
    font-size: 1.5em;
    margin: 10px;
}
